<h1>Change My Password</h1>

<div class="container-form">
<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend></legend>
    <div class="required">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="required">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  </fieldset>
  <div class="buttonrow">
    <%= f.submit "Update my password and log me in" %>
  </div>
<% end %>
</div>