<fieldset>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, :size => 20, :class => 'fullwidth' -%>
  </div>
  <div>
    <%= f.label :body_markdown %>
    <%= f.text_area :body_markdown, :size => '70x20', :class => 'fullwidth' -%>
  </div>
  <div class="controlset">
    <%= f.label :private, 'This is private template?' %>
    <%= f.check_box :private -%>
  </div>
</fieldset>
<%= javascript_include_tag 'texpand' -%>
<script type="text/javascript">
  new Texpand('template_body_markdown', {expandOnLoad: true});
</script>