<%- title "#{h(@_template.title)}" -%>

<%- content_for :toolbox do -%>
  <ul>
    <li><%= link_to 'Back to list', user_templates_path(@user), :class => 'icon back' -%> /</li>
  <%- if is_owner?(@user) -%>
    <li><%= link_to 'Edit', edit_user_template_path(@user, @_template), :class => 'icon edit' -%></li>
    <li><%= link_to 'Delete', user_template_path(@user, @_template), { :method => :delete, :confirm => "Do you realy want to delete #{html_escape(@_template.title)}?", :class => 'icon delete', :title => 'Delete' } -%></li>
  <%- end -%>
  </ul>
<%- end -%>

<div class="copyblock">
  <%= is_owner?(@user) ? 'You' : "#{gravatar_link_to(@_template.user, {:size => 24})} #{link_to @_template.user.username, user_path(@_template.user)}" -%> has updated this template at <%= @_template.updated_at.to_s(:long) -%>
</div>

<div class="body_html">
  <%= @_template.body_html -%>
</div>