<fieldset>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, :size => 20, :class => 'fullwidth' -%>
  </div>
  <div>
    <%= f.label :body_markdown %>
    <div>
      Insert field:
      <%= link_to 'Single line text', "#", :class => 'button', :onclick => "Modalbox.show($('div_input_button_text'), {title: 'Single line text field', width: 400, slideDownDuration:.15});" %>
      <%= link_to 'Multiline text', "#", :class => 'button', :onclick => "Modalbox.show($('div_input_button_textarea'), {title: 'Multiline text field', width: 400, slideDownDuration:.15});" %>
      <%= link_to 'Options', "#", :class => 'button', :onclick => "Modalbox.show($('div_input_button_select'), {title: 'Options field', width: 400, slideDownDuration:.15});" %>
    </div>
    <%= f.text_area :body_markdown, :size => '70x20', :class => 'fullwidth' -%>
    <p class="comment">None: you can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> for text formating.</p>
  </div>
  <div class="controlset">
    <%= f.check_box :private -%>
    <%= f.label :private, 'This is private template?' %>
  </div>
</fieldset>
<%= javascript_include_tag 'texpand' -%>
<%= render :partial => "button_div" -%>
<script type="text/javascript">
  new Texpand('doclate_body_markdown', {expandOnLoad: true});
</script>