<fieldset>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, :size => 20, :class => 'fullwidth' -%>
  </div>
  <div>
    <%= f.label :body_markdown %>
    <%= link_to 'text', "#", :class => 'button', :onclick => "Modalbox.show($('div_input_button_text'), {title: 'New text field', width: 400});" %>
    <%= link_to 'textarea', "#", :class => 'button', :onclick => "Modalbox.show($('div_input_button_textarea'), {title: 'New textarea field', width: 400});" %>
    <%= link_to 'select', "#", :class => 'button', :onclick => "Modalbox.show($('div_input_button_select'), {title: 'New select field', width: 400});" %>
    <%= f.text_area :body_markdown, :size => '70x20', :class => 'fullwidth' -%>
  </div>
  <div class="controlset">
    <%= f.label :private, 'This is private template?' %>
    <%= f.check_box :private -%>
  </div>
</fieldset>
<%= javascript_include_tag 'texpand' -%>
<%= render :partial => "button_div" -%>
<script type="text/javascript">
  new Texpand('doclate_body_markdown', {expandOnLoad: true});
</script>