  <%- title "#{gravatar_tag(user)} #{user.username}" -%>
  <%= javascript_include_tag 'swfobject.js' -%>

  <%- if current_user != user -%>
    <%- content_for :toolbox do -%>
      <% if logged_in? %>
        <ul>
          <li>
            <span id="friendship_button_<%= user.id -%>"><%= relation_button(current_user, user) %></span>
          </li>
        </ul>
      <% end %>
    <%- end -%>
        
  <%- end -%>
  <div class="common-container">
    <div class="container-left-half-column">
      <%- unless user.doclates.blank? -%>
        <dl>
          <dt><span>Last updated doclates</span></dt>
          <dd>
            <ul>
              <%- for doclate in (is_owner?(user) ? user.doclates : user.doclates.public).last_updated -%>
              <li><%= link_to h(doclate.title), user_doclate_path(user, doclate) -%>, updated at <%= doclate.updated_at.strftime('%m/%d/%Y') -%></li>
              <%- end -%>
            </ul>
          </dd>
        </dl>
        <%- if is_owner?(user) -%>
          <p><%= link_to 'Add new doclate', new_user_doclate_path(user), :class => 'button' -%> or <%= link_to "View all (#{user.doclates_count})", user_doclates_path(user) -%></p>
        <%- else -%>
          <p><%= link_to "View all (#{user.doclates_count})", user_doclates_path(user) -%></p>
        <%- end -%>
      <%- else -%>
        <%- if is_owner?(user) -%>
          <h3>How to create doclate?</h3>
          <!-- START OF THE PLAYER EMBEDDING TO COPY-PASTE -->
          <script type="text/javascript">
          swfobject.registerObject("player","9.0.98","/images/expressInstall.swf");
          </script>
          <p>
          <object id="player" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" name="player" width="320" height="240">
            <param name="movie" value="/images/player.swf" />
            <param name="allowfullscreen" value="true" />
            <param name="allowscriptaccess" value="always" />
            <param name="flashvars" value="file=/images/create_doclate.flv" />
            <object type="application/x-shockwave-flash" data="/images/player.swf" width="320" height="240">
              <param name="movie" value="/images/player.swf" />
              <param name="allowfullscreen" value="true" />
              <param name="allowscriptaccess" value="always" />
              <param name="flashvars" value="file=/images/create_doclate.flv" />
              <p><a href="http://get.adobe.com/flashplayer">Get Flash</a> to see this player.</p>
            </object>
          </object>
          </p>
          <!-- END OF THE PLAYER EMBEDDING -->
          <p>You don't have any doclate yet. Try to <%= link_to 'add new one', new_user_doclate_path(current_user), :class => 'icon add' -%></p>
          <%- else -%>
          <div class="message"><div class="body">
            Looks like this user doesn't have any doclate yet.
          </div></div>
        <%- end -%>
      <%- end -%>

      <%- if is_owner?(user) -%>
        <%- unless user.documents.blank? -%>
        <dl>
          <dt><span>Your last documents</span></dt>
          <dd>
            <ul>
              <%- for document in user.documents.last_updated -%>
              <li><%= link_to h(document.title), user_document_path(user, document) -%>, updated at <%= document.updated_at.strftime('%m/%d/%Y') -%></li>
              <%- end -%>
            </ul>
          </dd>
        </dl>
        <p><%= link_to "View all documents (#{user.documents_count})", user_documents_path(user) -%></p>
        <%- else -%>
          <h3>Creating document</h3>
          <!-- START OF THE PLAYER EMBEDDING TO COPY-PASTE -->
          <script type="text/javascript">
          swfobject.registerObject("player","9.0.98","/images/expressInstall.swf");
          </script>
          <p>
          <object id="player" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" name="player" width="320" height="240">
            <param name="movie" value="/images/player.swf" />
            <param name="allowfullscreen" value="true" />
            <param name="allowscriptaccess" value="always" />
            <param name="flashvars" value="file=/images/creating_document.flv" />
            <object type="application/x-shockwave-flash" data="/images/player.swf" width="320" height="240">
              <param name="movie" value="/images/player.swf" />
              <param name="allowfullscreen" value="true" />
              <param name="allowscriptaccess" value="always" />
              <param name="flashvars" value="file=/images/creating_document.flv" />
              <p><a href="http://get.adobe.com/flashplayer">Get Flash</a> to see this player.</p>
            </object>
          </object>
          </p>
          <!-- END OF THE PLAYER EMBEDDING -->
          <p>Looks like you don't have any document yet. <%= link_to 'Open', user_doclates_path(user) -%> or <%= link_to 'create one', new_user_doclate_path(user) -%> of your doclates and click "Create document".</p>
        <%- end -%>
      <%- end -%>
    </div>
    <div class="container-right-half-column">
      <h4>Following</h4>
      <%- unless user.friendships.blank? -%>
      <ul class="flat">
        <%- for friendship in user.friendships.find(:all, :limit => 10) -%>
          <li><%= gravatar_link_to(friendship.friend, {:size => 24}) -%></li>
        <%- end -%>
      </ul>
      <%- else -%>
        <p><%= is_owner?(user) ? 'You don\'t' : "#{user.username} doesn't" -%> have any favourite person yet.</p>
      <%- end -%>
      <h4>Followers</h4>
      <%- unless user.inverse_friendships.blank? -%>
      <ul class="flat">
        <% for friendship in user.inverse_friendships.find(:all, :limit => 10) %>
          <li><%= gravatar_link_to(friendship.user, {:size => 24}) -%></li>
        <%- end -%>
      </ul>
      <%- else -%>
      <p>No one is following for <%= is_owner?(user) ? 'you' : "#{user.username.capitalize} doesn't" -%> yet.</p>
      <%- end -%>
      <h4>News feed</h4>
      <p>List of activities of followed users.</p>
      <ul class="without-markers">
        <% for feed in user.feeds %>
          <li><%= feed_item(feed) %></li>
        <% end  %>
      </ul>
    </div>
    <br class="clearboth" />
  </div>