  <%- title "#{gravatar_tag(user)} #{user.username}" -%>

  <%- if current_user != user -%>
    <%- content_for :toolbox do -%>
    <ul>
      <li><span id="friendship_button_<%= user.id -%>"><%= relation_button(current_user, user) %></span></li>
    </ul>
    <%- end -%>
        
  <%- end -%>
  <div class="common-container">
    <div class="container-left-half-column">
      <%- unless user.templates.blank? -%>
      <dl>
        <dt><span>Last updated templates</span></dt>
        <dd>
          <ul>
            <%- for template in (is_owner?(user) ? user.templates : user.templates.public).last_updated -%>
            <li><%= link_to h(template.title), user_template_path(user, template) -%>, updated at <%= template.updated_at.strftime('%m/%d/%Y') -%></li>
            <%- end -%>
          </ul>
        </dd>
      </dl>
      <p>
        <%= link_to 'Add new', new_user_template_path(user), :class => 'button' -%> or <%= link_to "View all templates (#{user.templates_count})", user_templates_path(user) -%>
      </p>
      <%- else -%>
        <%- if is_owner?(user) -%>
          <p>You don't have any template yet.</p>
          <p>Try to <%= link_to 'add new one', new_user_template_path(current_user), :class => 'button' -%></p>
        <%- else -%>
          <p>Looks like this user doesn't have any template yet.</p>
        <%- end -%>
      <%- end -%>

      <dl>
        <dt><span>Your last documents</span></dt>
        <dd>
          <ul>
            <li>...</li>
          </ul>
        </dd>
      </dl>
      <p>
        <%= link_to "View all documents", user_templates_path(user) -%>
      </p>
    </div>
    <div class="container-left-half-column">
      <h4>Following</h4>
      <%- unless user.friendships.blank? -%>
      <ul class="flat">
        <%- for friendship in user.friendships -%>
          <li><%= gravatar_link_to(friendship.friend, {:size => 24}) -%></li>
        <%- end -%>
      </ul>
      <%- end -%>
      <h4>Followers</h4>
      <%- unless user.friendships.blank? -%>
      <ul class="flat">
        <% for friendship in user.inverse_friendships %>
          <li><%= gravatar_link_to(friendship.user, {:size => 24}) -%></li>
        <%- end -%>
      </ul>
      <%- end -%>
      <h4>News feed</h4>
      <p>List of activities of followed users.</p>
      <ul>
        <% for feed in user.feeds %>
          <li>
            <%= link_to feed.user.username, user_path(feed.user) -%>
            <%= feed.event_type -%>
            <% if feed.subject.class.to_s == 'Template' %>
              <%= link_to "\"#{feed.subject.title}\"", user_template_path(feed.subject.user, feed.subject) -%>
            <% elsif feed.subject.is_a?(User) %>
              <%= link_to feed.subject.username, user_path(feed.subject) -%>
            <% end %>
            <%= feed.created_at.strftime("%b %d, %Y") -%>
          </li>
        <% end  %>
      </ul>
    </div>
    <br class="clearboth" />
  </div>