<%- title 'Register' -%>

<div class="container-form">
<%- form_for @user do |f| -%>
  <%= f.error_messages -%>
  <%- if @user.openid_identifier.blank? -%>
    <%= render :partial => "form", :locals => { :f => f } -%>
    <div class="buttonrow">
      <%= f.submit "Submit" %> or <%= link_to 'Cancel', :back, :class => 'negative' -%>
    </div>

    <fieldset>
      <legend>Or use OpenID</legend>
      <div>
        <%= f.label :openid_identifier, "OpenID URL" -%>
        <%= f.text_field :openid_identifier -%>
      </div>
    </fieldset>
    <div class="buttonrow">
      <%= f.submit "Submit" -%> or <%= link_to 'Cancel', :back, :class => 'negative' -%>
    </div>
  <% end %>
<% end %>
</div>