<%- title 'Register' -%>

<div class="container-form">
<%- form_for @user do |f| -%>
  <%= f.error_messages -%>
  <%- if @user.openid_identifier.blank? -%>
  <div class="common-container">
    <div class="container-left-column">
      <%= render :partial => "form", :locals => { :f => f } -%>
      <div class="buttonrow">
        <%= f.submit "Submit" %>
      </div>
    </div>
    <div class="container-right-column">

    <fieldset style="height:220px;">
      <legend>Or use OpenID</legend>
      <div>
        <%= f.label :openid_identifier, "OpenID URL" -%>
        <%= f.text_field :openid_identifier -%>
      </div>
    </fieldset>
    <div class="buttonrow">
      <%= f.submit "Submit" -%>
    </div>
    </div>
    <br class="clearboth" />
  </div>
  <% end %>
<% end %>
</div>