<%- title "#{h(@document.title)}" -%>

<%- content_for :toolbox do -%>
  <ul>
    <li><%= link_to 'List documents', user_documents_path(@user), :class => 'icon back' -%></li>
    <li><%= link_to 'Edit', edit_user_document_path(@user, @document), :class => 'icon edit' -%></li>
    <li><%= link_to 'Delete', user_document_path(@user, @document), { :method => :delete, :confirm => "Do you realy want to delete #{h(@document.title)}?", :class => 'icon delete', :title => 'Delete' } -%></li>
  </ul>
<%- end -%>

<div class="copyblock">
  You has updated this document at <%= @document.updated_at.to_s(:long) -%>
  <%- unless @document.doclate.blank? -%>
  , based on &laquo;<%= link_to @document.doclate.title, [@user, @document.doclate] -%>&raquo;, 
  <%- end -%>
</div>

<div class="body_html">
  <%= @document.body_html -%>
</div>