<%- title 'Login' %>

<div class="container-form">
<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend></legend>
    <div class="required">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="required">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </fieldset>
  <div class="buttonrow">
    <%= f.submit "Submit" %> or <%= link_to 'Cancel', :back, :class => 'negative' -%>
  </div>

  <fieldset>
    <legend>Or use OpenID</legend>
    <div class="required">
      <%= f.label :openid_identifier, "OpenID URL" %>
      <%= f.text_field :openid_identifier %>
    </div>
  </fieldset>
  <div class="buttonrow">
    <%= f.submit "Submit" %> or <%= link_to 'Cancel', :back, :class => 'negative' -%>
  </div>
<% end %>
</div>